<html>
  <head>
      <title>Bingo Bongo</title>
      <%= stylesheet_link_tag 'index', media: 'print, screen' %>
</head>
<body>
<img src="https://i.imgur.com/DWXcxaF.png" id="dingo"></img>

<h2><u>To do list</u></h2>
<ul id="list">

<% @todos.each do |todo| %>


<li><a href= "/todo/show/<%= todo.id %>"><%= todo.description %></a><span class="pomodoro-estimate"> |<%= todo.pomodoro_estimate %> Pomodoro</span></li>

<% end %>  


</ul>


</body>

</html>

