<html>
  <head>
      <title>Bingo Bongo</title>
      <link rel="stylesheet" href="/index.css">
</head>
<body id="body1">
<img src="https://i.imgur.com/DWXcxaF.png" id=dingo></img>

<h2><u>To do list</u></h2>
<ul id="list">
<li><input type=checkbox>Get out of bed <span class="pomodoro-estimate"> |1 Pomodoro</span></li> 
<li><input type=checkbox>Wake up<span class="pomodoro-estimate"> |1 Pomodoro</span></li> 
<li><input type=checkbox>No seriously get out of bed<span class="pomodoro-estimate"> |1 Pomodoro</span></li>
<li><input type=checkbox>Make website not look like it's from the 90s<span class="pomodoro-estimate"> |1 Pomodoro</span></li>


</ul>


<div id="new-todo-block">


<input class="text-input" id="idea" type="text" placeholder="Add a new todo...">
<input class="text-input" id="idea" type="number" placeholder="Pomodoro Estimate...">
<input class="button" class="myButton" type="submit" value="add to list" >

</div>



<br>
<br>
<br>
<br>

<br><br><br><br><br><br><br><form method="get" action="test.html">
    <button type="submit">test</button>
</form>

</body>

</html>

