
<h1>Todo #<%= params[:id] %></h1>




<body>




<img src="https://i.imgur.com/mDGefrP.png" style="width:500px"></igit mg>


<h2><u><%=@todo.description%></u></h2>


<h1 id=>Pomodoro Estimate: <%=@todo.pomodoro_estimate%></h>

<br>
<form method="get" action="/todo/edit/<%=@todo.id%>">
    <button type="submit">Edit</button>
<br>
<a href="/todo/index">Back</a>


