<h1>Todo #<%= params[:id] %></h1>




<body style="background-image: url('<%=@backgroundimage %>');">




<img src="https://i.imgur.com/mDGefrP.png" style="width:500px"></igit mg>


<h2><u><%=@todo_description%></u></h2>
<p>Don't actually do this, 90s sites are the best sites</p>


<h1 id=>Pomodoro Estimate: <%=@pomo_est%></h2>



<input class="button" type="submit" value="Edit">

<br>
<br>
<br>
<input class="button" type="submit" value="Back">
</body>