<h1>Todo #<%= params[:id] %></h1>




<body id=body2>

<img src="https://i.imgur.com/mDGefrP.png" style="width:500px"></igit mg>


<h2><u><%=@todo_description%></u></h2>
<p>Don't actually do this, 90s sites are the best sites</p>


<h2 id="Pomodoro">Pomodoro Estimate: <%=@pomo_est%></h2>

<h2 id="Deadline">Deadline</h2>
<p>Never</p>



<input class="button" type="submit" value="Edit">

<br>
<br>
<br>
<input class="button" type="submit" value="Back">
</body>